
<nav class="navbar-expand-lg bg-primary">
  <!--  icon / logo-->
  <!--  <a class="navbar-brand" href="#">Icon</a>-->

  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>

  <!--menu bar-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/training">Training</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/challenge">Challenge</a>
      </li>
<!--      <li class="nav-item">
        <a class="nav-link" routerLink="/vocabulary">Vocabulary</a>
      </li>-->
<!--      <li class="nav-item">
        <a class="nav-link" routerLink="/user">User</a>
      </li>-->
    </ul>
    <!--search button-->
   <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>-->
  </div>
</nav>
