/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  color: #373a3c;
}

button {
  margin-top: 2px;
}

.nav-item a {
  color: aliceblue;
}

.nav-item a:hover {
  color: white;
}

div.content_header {
  font-weight: bold;
  font-size: larger;
  margin-left: 5px;
}

div.character_element {
  width: 25px;
  height: 25px;
  font-weight: bold;
  margin: 2px;
  float: left;
  cursor: pointer;
}

div.disabled {
  color: #d1dce1;
}
