/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  color: #373a3c;
}

.nav-item a {
  color: aliceblue;
}

.nav-item a:hover {
  color: white;
}

div.content_header {
  font-weight: bold;
  font-size: larger;
  margin-left: 5px;
}

div.accent-overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

div.letter {
  width: 25px;
  height: 25px;
  background-color: orange;
  color: white;
  margin: 2px;
  float: left;
}
